#sign-up {
	background-color:#96CEE0;
	color: black;
	
}

#login {
	margin-left:12px;
}

#email {
	margin-left:12px;
}

#password {
	margin-left:12px;
}

#submit {
	margin-left:16px;
}

#firstname {
	margin-left:12px;
	font-size: 50%;
	
}

#lastname {
	font-size: 50%;
}

#picture1 {
	background-color: #96CEE0;
}

body {
	background-color: #96CEE0;
}

#Register {
	width:450px;
	padding: 10px;
	background-color:#e6efee;
}

#Register h2 {
	
	margin-right:20px;

}

#title {
	margin-left: 18px;
	font-size: 150%;
}

#gender {
	margin-left: 18px;
	font-size: 50%;
	line-height: 3em;
}

#email2 {
	margin-left: 10px;
	font-size: 50%;
	line-height: 1em;
}

#password2 {
	margin-left: 10px;
	font-size: 50%;
}

#submit2 {
	margin-left: 18px;
	font-size: 50%
}

